@import url("./components/test.scss");
@import url("./pages/custom-pagination.scss");
.indexPage {
    background-color: blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // height: 400vh;
}

.header {
    text-align: center;
    margin: 2rem 0;
}

.header h1 {
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 0;
}

.splide__list {
    overflow-x: scroll;
}

.splide__slide {
    background-color: #ddd;
}

.splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}